/* Color triplet:
   #b3ff66 (acid light green)
   #6666ff (cornflower blue)
   #ffb366 (pale orange)
 */
table, tr, th, td {
 border: none;
 border-image-width: 0;
 border-collapse: collapse;
 vertical-align: top;
 border-spacing: 0;
 padding:0;
}

a {
 text-decoration: none;
}

body {
 font-size: 12pt;
}

body.black a {
 color: #FFA300;
}

body.white a {
 color: #66f;
}

a:hover {
 text-decoration: underline;
}

tt, code, kbd, samp, pre {
 font-family: 'Inconsolata', 'Monospace', 'Courier';
 margin: 0;
 padding: 0;
}

#contentColumn > tt, code, kbd, samp, pre {
 line-height: 12pt;
 letter-spacing: .4pt;
}

body > div {
 display: block;
}

table {
 font-size: inherit;
}

input {
 -webkit-border-radius-topleft:5pt;
 -moz-border-radius-topleft:5pt;
 border-top-left-radius:5pt;

 -webkit-border-radius-bottomright:5pt;
 -moz-border-radius-bottomright:5pt;
 border-bottom-right-radius:5pt;
}

body.white input {
 background-color: #fff;
 color: black;
 border: 1px solid black;
}

body.black input {
  background-color: #333;
  color: #eee;
  border: 1px solid #ea6;
}

img {
 margin: 0;
}

h1,h2,h3,h4 {
 font-family: 'Exo 2',"Linux Libertine",Georgia,Times,serif;
 font-weight: normal;
 text-align: left;
 margin-left: 0pt;
 line-height: 1.2;
}

body.white h1,
body.white h2,
body.white h3,
body.white h4 {
 color: #000;
}

body.white h2 {
 /* most frequent header */
 border-left: solid 5pt #ffb366;
 border-right: solid 5pt #ffb366;
 padding: 3pt;
 padding-left: 8pt;
}

body.black h1,
body.black h2,
body.black h3,
body.black h4 {
 color: #EE7500;
 font-weight: lighter;
}

h1 {
 margin-top: 35pt;
 margin-bottom: 5pt;
}

h2 {
 margin-top: 12pt;
 margin-bottom: 17pt;
}

h3 {
 margin-top: 10pt;
 margin-bottom: 15pt;
 font-weight: bold;
 font-variant: small-caps;
}

h4 {
 margin-top: 10pt;
 margin-bottom: 10pt;
 font-weight: bold;
 font-variant: small-caps;
}

/*
 * Decorations
 */

.roundNW {
 -webkit-border-radius-topleft:10pt;
 -moz-border-radius-topleft:10pt;
 border-top-left-radius:10pt;
}

.roundSW {
 -webkit-border-radius-bottomleft:10pt;
 -moz-border-radius-bottomleft:10pt;
 border-bottom-left-radius:10pt;
}

.roundNE {
 -webkit-border-radius-topright:10pt;
 -moz-border-radius-topright:10pt;
 border-top-right-radius:10pt;
}

.roundSE {
 -webkit-border-radius-bottomright:10pt;
 -moz-border-radius-bottomright:10pt;
 border-bottom-right-radius:10pt;
}

.nonselectable {
 -webkit-touch-callout: none;  /*for mobile*/
 -webkit-user-select: none;  /*for chrome*/
 -khtml-user-select: none;  /*for safari*/
 -moz-user-select: none;  /*for Mozilla*/
 -ms-user-select: none;  /*for mircosoft*/
 -o-user-select: none;  /*for opera*/
 user-select: none;  /*base css ,but not work in all browsers*/
}

input.uploadPath {
 /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
 -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
 box-shadow: 0 1px 4px rgba(0,0,0,.5);*/
 display: inline-block;
 outline: none;
 text-align: center;
 font: 14px/100% Arial, Helvetica, sans-serif;
 padding: .5em 2em .55em;
 border: solid 1px #b7b7b7;
 border-right: none;
 /*border: 1px #888 solid;*/
}

div.uploadEntry {
 vertical-align: middle;
}

/*
 * Content
 */

div#headerKeeper {
 text-align:center;
}

div#hdrRef {
 font-family: "clean", courier;
 font-size: 8pt;
 margin-right: 15pt;
 float:right;
}

span#sublogoSlogan {
 font-family: "clean", courier;
 font-size: 7.5pt;
 letter-spacing: 0.5em;
 margin-right: 15pt;
 display:inline-block;
}

div#wrapper {
 min-width: 650pt;
 width: 44%;
 font-family: 'Exo 2', 'Gill Sans', 'Arial';
}

div#wrapper.centered {
 margin: 0 auto;
}

h1#logo {
 text-align:center;
 padding:0;
 font-size:35pt;
 font-weight:heavy;
 text-decoration:underline;
 margin-bottom: 0;
}

ul#pages-list {
 list-style-type: none;
 margin: 25pt;
}

ul#pages-list li {
 display: inline;
 margin: 0 25pt;
}

/*
 * CONTENT
 */

#contentColumn {
 padding: 15pt;

 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 letter-spacing: 0px;
 line-height: 19pt;
 word-spacing: 1.5pt;
 /*font-family: verdana;*/
 margin-top: -45pt;
}

#wrapper.centered #contentColumn {
 text-align: justify;
}

body.white #contentColumn {
 color: #000;
}

body.black #contentColumn {
 color: #ECECEC;
}

/*
#contentColumn.sansSerif p,
#contentColumn.sansSerif li,
#contentColumn.sansSerif ol,
#contentColumn.sansSerif dl,
#contentColumn.sansSerif dt {
 font-family: verdana;
}

#contentColumn.serif p,
#contentColumn.serif li,
#contentColumn.serif ol,
#contentColumn.serif dl,
#contentColumn.serif dt {
 font-family: georgia;
}
*/

.center-align {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
 float: none!important;
}

.right-float {
 float: right;
 margin-left: 25pt;
}

.left-float {
 float: left;
 margin-right: 25pt;
}

#contentColumn p {
 text-indent: 35pt;
 font-size: 12pt;
}

#contentColumn .hdrAnchor {
 margin-right: 8pt;
}

#contentColumn ul,
#contentColumn ol,
#contentColumn dl {
 padding-left: 45pt;
 padding-bottom: 10pt;
}

#contentColumn dl dt {
 font-style: italic;
}

#contentColumn div.incut {
 width: 45%;
 float: right;
 padding: 15pt;
 margin: 15pt;
}

body.white #contentColumn div.incut {
 background-color: #333;
}

body.black #contentColumn div.incut {
 background-color: #aaa;
}

body.white
#contentColumn > div.incut > p,
#contentColumn > div.incut > h1,
#contentColumn > div.incut > h2,
#contentColumn > div.incut > h3 {
 color: #fff;
}

body.black
#contentColumn > div.incut > p,
#contentColumn > div.incut > h1,
#contentColumn > div.incut > h2,
#contentColumn > div.incut > h3 {
 color: #EE7500;
}

body.white
#contentColumn > div.incut .MathJax {
 color: #fff !important;
}

body.black
#contentColumn > div.incut .MathJax {
 color: #000 !important;
}

#contentColumn div.linenodiv {
 color: #e99;
}

#contentColumn div.highlight {
 margin-left: 45pt;
 word-spacing: 0;
 /*background-color: #f1f1ea;*/
}

#contentColumn table.highlighttable {
 margin-left: 45pt;
}

#contentColumn table.highlighttable div.highlight {
 margin-left: 5pt;
}

#contentColumn code {
 display: inline;
 white-space: pre-wrap;
 /* border: 0.1pt #ed9 solid; */
 padding: 1px 3pt;
 border-radius: 3pt;
 background-color: #f1f1ea;
}

#contentColumn .highlight code {
 display: block;
}

#contentColumn div.subheader {
 text-align: right;
}

#contentColumn .thematic-tag * {
 vertical-align: middle;
}

#contentColumn .thematic-tag {
 margin: 3pt;
}

#contentColumn span.oi {
 vertical-align: middle;
}

#contentColumn .tagline {
 font-size: 0.8em;
}

.category-link:before {
 font-family: Icons;
 content:'\e06b';
 vertical-align: baseline;
 font-size: 0.8em;
 margin-right: 2pt;
}

.tag-link:before {
 font-family: Icons;
 content:'\e0c5';
 vertical-align: baseline;
 font-size: 0.8em;
 margin-right: 2pt;
}

div.twoColumned {
 display: table;
}

div.twoColumnedColumn {
 display: table-cell;
 padding: 15pt;
}

div.twoColumnedColumn h1 {
 font-size: 14pt;
}

div.mainPageBlock {
 padding: 15pt;
}

.hdrEntries {
 width: 100%;
 text-align: center;
 letter-spacing: 5pt;
 margin-top: 45pt;
}

body.white .hdrEntries {
 border-top: 1px dotted #000;
 border-bottom: 1px dotted #000;
}

body.black .hdrEntries h2 {
 color: #757575;
 font-weight: bolder;
}

.hdrEntries h2 {
 font-family: "Trebuchet MS";
 text-align: center;
 margin: 0;
}

/*
 * Logo
 */

div#SiteLogo {
 width: 314px;
 height: 95px;
 display: inline-block;
}

body.white div#SiteLogo {
 /*background: url(/static/img/crankshaft_minimal_logo_wide.svg) no-repeat;*/
 background: url(../img/CrankShaftFront.svg) no-repeat;
 background-size: 314px, 95px;
}

body.black div#SiteLogo {
 /*background: url(/static/img/crankshaft_minimal_logo_wide_inv.svg);*/
 background: url(../img/CrankShaftFront_inv.svg) no-repeat;
 background-size: 314px, 95px;
}

/*
 * FORM KEEPER
 */

div.formKeeper * {
 font-family: verdana;
}

div.formKeeper {
 margin:0;
 text-align: center;
 display: inline-block;
}

div.formKeepingHeaderLine {
 margin:0;
 margin-bottom: -1px;
 text-align: right;
}

div.formKeepingHeader {
 -webkit-border-radius-topleft:10pt;
 -moz-border-radius-topleft:10pt;
 -webkit-border-radius-topright:10pt;
 -moz-border-radius-topright:10pt;
 border-top-left-radius:10pt;
 border-top-right-radius:10pt;

 display: inline-block;
 padding: 2.5pt 15pt 2.5pt 15pt;
 background-color: #666;
 color: #aaa;
 font-weight: bold;
 font-size: .8em;
}

div.formKeepingHeader:hover {
 text-decoration: underline;
 color: #fff;
 cursor: pointer;
}

div.formKeepingHeader.formKeepingHeaderActive{
 background-color: #333;
 color: #fff;
 cursor: normal;
}

div.formKeepingHeader.formKeepingHeaderActive:hover {
 text-decoration: none;
 cursor: default;
}

div.formKeepingEmbeddedForm {
 background-color: #333;
 -webkit-border-radius-bottomleft:10pt;
 -webkit-border-radius-bottomright:10pt;
 -webkit-border-radius-topleft:10pt;
 -moz-border-radius-bottomleft:10pt;
 -moz-border-radius-bottomright:10pt;
 -moz-border-radius-topleft:10pt;
 border-bottom-left-radius:10pt;
 border-bottom-right-radius:10pt;
 border-top-left-radius:10pt;
 padding: 25pt;
}

div.inFormTableCell {
 padding: 2pt;
}

div.inFormTableEntryErrors {
 color: #f50;
 font-weight: bold;
 padding-bottom: 15pt;
}

div.inFormTableEntryDescr {
 text-align: left;
 color: #fff;
 font-weight: bold;
}

div.inFormTableEntryField {
 text-align: left;
}

div.inFormTableEntryField {
 padding-bottom: 5pt;
}

div.formKeeper input,
div.formKeeper select {
 padding: 2.5pt;
 -webkit-border-radius:5pt;
 -moz-border-radius:5pt;
 border-bottom-left:5pt;
 font-size: 1.1em;
}

/*
 * Spinner styles
 */

.spinner {
 position: absolute;
 opacity: 0.9;
 filter: alpha(opacity=90);
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
 z-index: 999;
 background: #fff;
}
.spinner-msg {
 text-align: center;
 font-weight: bold;
}

.spinner-img {
 background: url(/static/img/gears/gears_anim_64x64.gif) no-repeat;
 width: 64px;
 height: 64px;
 margin: 0 auto;
}

/*
 * FOOTER
 */

div#footerKeeper {
 padding: 7pt;
 background-color: #000;
 color: #999;
 font-size: 8pt;
 height: 55pt;
 font-family: Verdana, sans-serif;
 text-align: left;
}

img.footerBanner {
 display: inline-block;
 float: right;
 margin: 5pt;
}

/*
 * Hover div (page overlay)
 */

div.overlayHover {
 display: inline-block;
 border: 0;
}

/*
 * Tooltips common
 */

.tip-wrap {
 z-index: 13000;
}

.tip {
 color: #fff;
 width: 139px;
 z-index: 13001;
 font-family: arial;
}
 
.tip-title {
 font-weight: bold;
 font-size: 11px;
 margin: 0;
 color: #9FD4FF;
 padding: 8px 8px 4px;
 background: url(/static/img/contrib/bubble.png) top left;
}
 
.tip-text {
 font-size: 11px;
 padding: 4px 8px 8px;
 background: url(/static/img/contrib/bubble.png) bottom right;
}

/*
 * Sidepanel
 */

div#zbSidePanel {
 position: fixed;
 bottom: 0;
 left: 0;
 font-size: 2.5em;
 padding: 3pt;
}

div#zbSidePanel ul {
    text-align: center;
}

/*div#zbSidePanel ul li ::before {
    height: 1.2em;
    width: 1.2em;
}*/

div#zbSidePanel ul li:hover {
    cursor: pointer;
}

sup {
  font-size: x-small;
  font-weight: bold;
}

.headings-figure {
    height: 280px;
}

