{# vim: filetype=jinja
 #}
{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{%endblock%}
{% block content %}
    <div class='article'>
      <div class="row-fluid">
           <div class="content-title span9">
             <h1>{{ article.title }}</h1>
           </div>
           {% include 'article-tagline.html' %}
      </div>
    <div class="row-fluid">
      <div class="span2">
      </div>

      <div class="span8">
	{{ article.content }}
	<hr />
      </div>
    </div>
    <div class="span10">
      <h3>Comments</h3>
    
    {% include 'disqus.html' %}
    </div>  
    </div>
{% endblock %}
