<div class="subheader">
    <span class="tagline">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{article.author or "Nobody"}}</span>
    </span>
    /
    <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
    /
    <span itemprop="articleSection">
        <a class="category-link" href="{{ SITEURL }}/{{ article.category.url }}" rel="category">
            {{ article.category }}</a>
    </span>
    ::
    {% if article.tags %} {% for tag in article.tags %}
        <span itemprop="keywords">
            <a class="tag-link" href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>,</span>
    {% endfor %} {% endif %}
    </span>
</div>
