{# vim: filetype=jinja
 #}
<!DOCTYPE HTML>
<html lang="{{ DEFAULT_LANG }}"> <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="{{ SITEURL }}/theme/img/favicon.ico" />
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/lib/html5.js"></script>
    <![endif]-->

    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}

    <link href="{{ SITEURL }}/theme/css/common.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fira+Mono&subset=latin,cyrillic,greek' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Exo+2&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <!-- Using MathJax, with the delimiters $ -->
    <!-- Conflict with pygments for the .mo and .mi -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      "HTML-CSS": {
      styles: {
      ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
      },
      tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true},
      TeX: { equationNumbers: { autoNumber: "AMS" } }
      });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link href="{{ SITEURL }}/theme/css/open-iconic/open-iconic.min.css" rel="stylesheet">
</head> <body class="white">
    {% block bodyPre %} <!-- ...bodyPre... --> {% endblock %}
    <div id="wrapper" class="centered">
        <div id="headerKeeper">
            <h1 id="logo"><a href="/">
                <div id="SiteLogo"></div>
            </a></h1>
            {# <div id="hdrRef"><a href="/entries/about/">о сайте</a></div> --> #}
            <ul id="pages-list">
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                    <li class="page-ref"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            {% endif %}
            {% for cat, null in categories %}
	            <li class="category-ref" {% if cat == category %} class="active" {% endif %}>
                    <!--<span class="oi" data-glyph="folder" aria-hidden="true"></span>-->
	                <a class="category-link" href="{{ SITEURL }}/{{ cat.url }} ">{{ cat }}/</a>
                </li>
    	   {% endfor %}
           </ul>
        </div>
        <div id="contentColumn">
            {% block content %} <!-- ...content... --> {% endblock %}
        </div> <!-- contentColumn -->
        <div id="footer">
            <div id="footerKeeper" class="WrpSubContainer">
                <a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode"><img src="{{ SITEURL }}/theme/img/CC_ASA.png" class="footerBanner"/></a>
                <a href="http://qcrypt.org"><img src="{{ SITEURL }}/theme/img/QCrypt_logo_simple.svg" class="footerBanner" width="81px" style="background-color:#fff;"/></a>
                © Copyright 2016, Renat Dusaev / Авторские права: Дусаев Ренат<br>
                © Copyright 2016, under the auspices of Q‐crypt foundation / под эгидой Q-crypt foundation<br>
                <span style="color:white;">Materials are free free for distribution under the terms of CreativeCommons&nbsp;Attribution&nbsp;ShareAlike&nbsp;CC&nbsp;BY&nbsp;SA&nbsp;4.0. / Материалы&nbsp;свободны к&nbsp;распространению в&nbsp;рамках&nbsp;CC&nbsp;BY&nbsp;SA&nbsp;4.0</span>
            </div>
        </div> <!-- div#footer -->
    </div> <!-- div#wrapper -->
    {# TODO: include 'sidePanel.html' #}
</body>{% block bodyPost %} <!-- ...bodyPost... --> {% endblock %}</html>

